# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code (optional)
.vscode/

# Flutter / Dart / Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json

# Android build outputs
/android/app/debug
/android/app/profile
/android/app/release
android/.gradle/
android/local.properties

# 🔐 Android signing (DO NOT COMMIT)
android/key.properties
android/**/key.properties
*.jks
*.keystore

firebase/
firebase.json
lib/firebase_options.dart


# 🔐 Firebase (DO NOT COMMIT)
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig

# Environment files
.env
.env.*
